<a href="https://colab.research.google.com/github/CarranzaDritte/my_first_repo/blob/master/Ejercicio1_IARN_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1
###Clase : Inteligencia Artificial
Estos son los ejercicos basicos de Python

In [ ]:
if 5>2 : 
 print("es mayor que 2")

es mayor que 2

In [ ]:
print("si jalo!") #si jala hermano!

si jalo!

In [ ]:
x = 5
y = "john"
print(x)
print(y)

5
john

In [ ]:
a=4
A ="Sally"
print(a);
print(A);
type(a)# imprime el tipo de dato

4
Sally

str

In [ ]:
print(10>9) #boolen value True or false
print(10 == 9)
print(10<9)

True
False
False

In [ ]:
print(5%4) # calculo del modulo, residuo

1

In [ ]:
x = 5
x &=3
print(x)

1

In [ ]:
mylist = ['audi','ford','porsche'] #creacion de un array en una variable 
print(mylist)
print(mylist[1]) #llamado a una casilla, que imprime el dato contenido en la casilla
print(mylist[2]) #llamado a una casilla, que imprime el dato contenido en la casilla

['audi', 'ford', 'porsche']
ford

In [ ]:
thistuple=('audi','ford','porsche') #tuple is a collection which is ordere and unchangeble once is declared written by round brackets
print(thistuple[1])  #it allow duplicated items

ford

In [ ]:
thisset = ['audi','ford','porsche']
print(thisset) #it doesnt have an order, cannot call an specific item

['audi', 'ford', 'porsche']

In [ ]:
#Dictionary Kinda an object like C# or JS it has properties that we can call from dictionary
thisdict= {
    "brand": 'audi',
    "model": 'A4',
    "year": '2020'
}
print(thisdict['brand'])
print(thisdict['model'])
print(thisdict['year'])

audi
A4
2020

In [ ]:
#condition statements
# Equals: a == b
# Not Equals: a != b
# Less than: a < b
# Less than or equal to: a <= b
# Greater than: a > b
# Greater than or equal to: a >= b
a = 23
b= 200
if b>a:
  print('b is greater')

b is greater

In [ ]:
a = 200
b = 200
if b > a:
  print("b is greater than a")
elif a == b: #take care of the space, this cannot be insade past if
  print("a and b are equal")

a and b are equal

In [ ]:
## WHILE LOOPS
i = 1
while i < 7:
  print(i)
  i += 1

1
2
3
4
5
6

In [ ]:
i = 1  #THIS EXAMPLE SUMS IN I AND AT THE OUTPUT PRINT AN ALERT THAT GOT OUT OF CICLE WHILE
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
#LOOPS IN A ARRAY 
brands = ["AUDI", "PORSCHE", "TESLA"]
for x in brands:
  print(x)
for x in "PORSCHE": #IT PRINT EACH LETTER CONTAINED IN THE WORD
  print(x)

AUDI
PORSCHE
TESLA
P
O
R
S
C
H
E

In [ ]:
brands = ["AUDI", "PORSCHE", "TESLA"]
for x in brands:
  print(x)
  if x == "PORSCHE": #THIS IS WHATCHING FOR DETECT AN STOP IN A SPECIFIC DATA
    break

AUDI
PORSCHE

In [ ]:
for x in range(6): #IT TURNS A COUTN TROUGH SPACES CONTAINED IN DATA UNTILL 6 SPACES
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 30, 3): #IT SUMS THE LAST NUMBER IN A RANGE BETWEN THE FIRST DATAS
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
#CREATION OF A FUNCTION  MY FIRST FUNCTION 
def my_function():
  print("Hello from a function")

#CALLING A FUNTION
my_function()

def my_function(fname, lname):  # THIS FUNCTION GETS 2 PROPERTIES FROM GLOBAL VARIABLES AND PASS THEM TROGH THE FUCNTION CONTAINED
  print(fname + " " + lname)

my_function("Emil", "Refsnes")


#IF THE NUMBER OF PARAMETER ARE UNKNOW JUST GOTTA AD AN * BEFORE THE NAME OF THE VARIABEL
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

Hello from a function
Emil Refsnes

In [6]:
#ESTA ES MI SEFGUNDA FUNCION EN PYTHON
def my_function2(fname):
  print(fname + ' Refsnes')

In [7]:
my_function2("Daniel")

DanielRefsnes

In [ ]:
#ARRAYS 
cars = ["Ford", "Volvo", "BMW"]

x = len(cars)   #it prints the length of an array .
print(x)
cars[0] = "Toyota" #it changes the data in the space 0
print(cars)

3
['Toyota', 'Volvo', 'BMW']

In [8]:
##Classes / objects
class MyClass:
  x = 5
  y= 6

p1 = MyClass() #a variable assign a class to print lately 
print(p1.x) #
print(p1.y)

5
6

###Problemas de tarea 3
Problema 1. Pide al usuario su nombre y edad para calcualr en que año tendrá 55 años 

Problema 2. Pide al usuario un numero y determina si es par o impar

In [53]:
username = input("Introduce tu nombre: ")
age = int(input("introduce tu edad: "))
b= age
if b>=55:
  print('ya cumpliste 55 años')
else :
  year= (55-b)+2021
  print(year)
  year = str(year)
  print(username+' tedrá 55 años en el año '+ year)


print('PROBLEMA 2')
numero = int(input("Introduce un numero aleatorio: "))
a = numero%2
numeroimprimir= str(numero)
if a==0:
  print(numeroimprimir + ' es par')
elif a!=0:
   print(numeroimprimir + ' es inpar')

Introduce tu nombre: chris
introduce tu edad: 59
ya cumpliste 55 años
PROBLEMA 2
Introduce un numero aleatorio: 6
6 es par